<div class="parent">
    <app-text [score] = "score"></app-text>
    <div class = "card-deck d-flex justify-content-center" id  = "play">
        <app-card *ngFor = "let card of cards" [card]="card" (clickEventEmitter)='getCardClick($event)'></app-card>
    </div>
    <div class="buttonContainer">
        <button *ngIf="!hasGameStarted" type="button" class="btn btn-success btn-lg" (click)="play()" >PLAY!</button>
        <app-timer *ngIf="hasGameStarted" (time) = 'setTimerTime($event)' (initialTime) = 'setInitialTime($event)' ></app-timer>
    </div>
</div>

