.card-columns{
    column-count: 2;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

button{
    font-size: 2rem;
}

.lead{
    color: white;
    padding: .5rem;
}
input{
    margin: .5rem;
}